* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

section {
  padding: 100px;
}
.banner {
  position: relative;
  min-height: 100vh;
  background: url(bg1.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: white;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(back4.svg);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 4000px 0;
  }
}
.banner h3 {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #0000ff;
  display: inline-block;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.3s;
}
.btn:hover {
  background: gray;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
header.sticky {
  background: white;
  padding: 20px 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
}
header.sticky .logo {
  color: black;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}
header.sticky ul li a {
  color: black;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}
.contentBx {
  padding-right: 55px;
}
.contentBx h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 100%;
}
.skills {
  background: #000;
}
.heading.white {
  color: #fff;
  margin-bottom: 30px;
}
.skills .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1.6;
}
.skills .content .skillsBx {
  padding: 40px 30px;
  background: #222;
  color: white;
  max-width: 340px;
  margin: 21.5px;
  text-align: center;
  transition: 0.4s;
  border-radius: 1rem;
}
.skills .content .skillsBx:hover {
  background: #0000ff;
}
.skills .content .skillsBx img {
  max-width: 128px;
  filter: invert(1);
}
.container .music-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.container .music-container .box {
  height: 8rem;
  width: 40%;
  display: flex;
  align-items: center;
  background: #f1f3f4;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}
.container .music-container .box .image {
  height: 100%;
  width: 28%;
}
.container .music-container .box .image img {
  height: 100%;
  width: 100%;
}
.container .music-container.box .music {
  width: 100%;
}
.container .music-container.box .music audio {
  width: 100%;
  outline: none;z
}
.container .music-container .box .music audio::-webkit-media-controls-enclosure {
  background: none;
}
.contact {
  background: #000;
  line-height: 1.6;
}
.bottom{
  background: rgb(255, 255, 255);
  padding: 20px 0;
  text-align: center;
}
.bottom p{
  word-spacing: 2px;
}
.card {
  position: relative;
  left: 37%;
  top: 50%;
  width: 300px;
  height: 400px;
  background: #ffffff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.card:hover {
  transform: translateX(50%);
}
.card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: black;
  transition: 1s;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}
.card:hover .imgBox {
  transform: rotateY(-180deg);
}
.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card .imgBox img:nth-child(2) {
  transform: rotateY(180deg);
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
}
.card .details .content h2 {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.card .details .content .social-icons {
  position: relative;
  display: flex;
  margin-top: 10px;
  filter: none;
  -webkit-filter: grayscale(0);
}
.card .details .content .social-icons a {
  display: inline;
  width: 35px;
  height: 35px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
}
